body{
    margin: 0%;
}

.background{
    background-color: rgb(23, 44, 71);
    width: 1440px;
    height: 820px;
    margin: 0%;
}

.second-background{
    background-color: rgb(33, 50, 87);
    display: block;
    margin: auto;
    width: 15%;
    height: auto;
    padding: 1rem;
    position: relative;
    top: 25%;
    border-radius: 5%;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 5%;
}

h1{
    font-size: 18px;
    color: white;
}

.our{
    color: rgb(127, 134, 134);
}

.number{
    padding-top: 1rem;;
}

.ETH{
    position: relative;
    bottom: .3rem;
    color: rgb(167, 251, 247);
}

.clock{
    position: relative;
    left: 3.5rem;
}

.days{
    position: relative;
    bottom: .3rem;
    left: 3.5rem;
    color: white;
}

hr{
    border: .5px solid rgb(83, 85, 85);
}

.avatar{
    height: 2rem;
}

.citation{
    position: relative;
    bottom: .7rem;
    color: rgb(127, 134, 134);
}

a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .background{
        width: 600px;
        height: 800px;
        margin: 0%;
    }

    .second-background{
        width: 55%;
    }

    .clock{
        position: relative;
        left: 10rem;
    }
    
    .days{
        position: relative;
        left: 10rem;
    }
}